.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.product-container {
  margin-right: 0px;
  margin-left: 90px;
  border-right: 1px solid lightgray;
}

.cart-container {
  text-align: center;
  font-weight: 400;
}
